:host {
  display: block;
  height: 100%;
  position: relative;
}

textarea {
  max-height: 120px;
  min-height: 40px;
}

// Typing animation
@keyframes bounce {
  0%, 60%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-4px);
  }
}
